<nav aria-label="Primary" id="primary-nav">
  <a data-href="/">Home</a>
  <a data-href="/events.html">Events</a>
  <a data-href="/convention.html">Convention</a>
  <a data-href="/eboard.html">E-Board</a>
  <a data-href="/resources.html">Resources</a>
  <a data-href="/account.html">My Account</a>
  <a data-href="/eboard-dashboard/">E-Board Dashboard</a>
  <a data-href="/eboard-dashboard/points-manager.html">Points Manager</a>
  <a data-href="/eboard-dashboard/event-manager.html">Event Manager</a>
</nav>
